{% extends "base.html" %}

{% block "title" %}Index{% endblock %}

{% block "content" %}
  <h1>Index of main views</h1>

  <h2>The Pattern</h2>
  <ul>
    <li><a href="{% url "the_pattern:example_name" arg="hello" %}">example</a></li>
    <li><a href="{% url "the_pattern_explanation:hello_world" %}">hello world</a></li>
  </ul>

  <p><a href="{% url "view_source" namespace="the_pattern" %}">[source]</a></p>

  <h2>Context data</h2>
  <ul>
    <li><a href="{% url "context_data:home" %}">home</a></li>
    <li><a href="{% url "context_data:home_2" %}">home 2</a></li>
  </ul>

  <p><a href="{% url "view_source" namespace="context_data" %}">[source]</a></p>

  <h3>Discussion</h2>
  <ul>
    <li><a href="{% url "context_data_discussion:home" %}">home - CBV</a></li>
  </ul>

  <p><a href="{% url "view_source" namespace="context_data_discussion" %}">[source]</a></p>

  <h2>Common context data</h2>
  <ul>
    <li><a href="{% url "common_context_data:checkout_start" %}">checkout start</a></li>
  </ul>

  <p><a href="{% url "view_source" namespace="common_context_data" %}">[source]</a></p>

  <h3>Discussion</h2>
  <ul>
    <li><a href="{% url "common_context_data_discussion:checkout_start" %}">checkout start - CBV</a></li>
  </ul>

  <p><a href="{% url "view_source" namespace="common_context_data_discussion" %}">[source]</a></p>


  <h2>URL parameters</h2>
  <ul>
    <li><a href="{% url "url_parameters:product_detail" slug="test" %}">product detail</a></li>
  </ul>

  <p><a href="{% url "view_source" namespace="url_parameters" %}">[source]</a></p>

  <h3>Discussion</h2>
  <ul>
    <li><a href="{% url "url_parameters_discussion:product_detail_2" name="test" %}">product_detail_2</a></li>
    <li><a href="{% url "url_parameters_discussion:product_detail_3" pk=1 %}">product_detail_3</a></li>
    <li><a href="{% url "url_parameters_discussion:diary_entry" post_date=today %}">diary entry</a></li>
  </ul>

  <p><a href="{% url "view_source" namespace="url_parameters_discussion" %}">[source]</a></p>


  <h2>Detail view</h2>
  <ul>
    <li><a href="{% url "detail_view:product_detail" slug="hanky" %}">product detail</a></li>
  </ul>

  <p><a href="{% url "view_source" namespace="detail_view" %}">[source]</a></p>

  <h3>Discussion</h2>
  <ul>
    <li><a href="{% url "detail_view_discussion:product_detail" slug="hanky" %}">ProductDetailView</a></li>
  </ul>

  <p><a href="{% url "view_source" namespace="detail_view_discussion" %}">[source]</a></p>


  <h2>List view</h2>
  <ul>
    <li><a href="{% url "list_view:product_list_unpaged" %}">product list unpaged</a></li>
    <li><a href="{% url "list_view:product_list" %}">product list paged</a></li>
    <li><a href="{% url "list_view:product_list_refactored" %}">product list refactored</a></li>
  </ul>

  <p><a href="{% url "view_source" namespace="list_view" %}">[source]</a></p>

  <h3>Discussion</h2>
  <ul>
  </ul>

  <p><a href="{% url "view_source" namespace="list_view_discussion" %}">[source]</a></p>


  <h2>Delegation</h2>
  <ul>
    <li><a href="{% url "delegation:product_list" %}">product list</a></li>
    <li><a href="{% url "delegation:special_offer" %}">special offer</a></li>
  </ul>

  <p><a href="{% url "view_source" namespace="delegation" %}">[source]</a></p>

  <h3>Discussion</h2>
  <ul>
  </ul>

  <p><a href="{% url "view_source" namespace="delegation_discussion" %}">[source]</a></p>
  
{% endblock %}
